@tailwind base;
@tailwind components;
@tailwind utilities;

/* small helpers */
.input {
  @apply w-full p-2 border border-slate-200 rounded;
}
.btn-primary {
  @apply inline-block bg-sky-600 text-white px-4 py-2 rounded shadow;
}
